small {
    font-size: 60%;
    font-weight: lighter;
}

.thumbnail {
    text-align: center;
    background: transparent;
    border: 2px solid #3F51B5;
}

.jumbotron {
    background-image: url("../img/jumbo.jpg");
    background-size: cover;
    color: #272B30;
    padding: 128px 0px;
}

h2 {
    color: #FFF;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.5;
}

hr {
    border: 0;
    border-bottom: 2px dashed #3F51B5;
}

.fancycolumn {
    text-align: center;
    font-size: 2.2em;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.textcolumn {
    text-shadow: none;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 1.3;
}

footer {
    font-size: 1.525em;
    margin-top: 50px;
    text-align: center;
}

h1 {
    font-weight: bold;
}

a:hover {
    color: #33a6cc;
    text-decoration: none;
}

.github {
    font-size: 2.525em;
    margin-bottom: 50px;
    color: #FFF;
}

.github .link-github:before {
    background-image: url(../img/github.png);

}

body {
    font: 100% "Open Sans",Helmet,Freesans,sans-serif;
    background: #272B30;
    color: #C8C8C8;
}

.btn {
    padding: 24px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #3F51B5;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}













