.panel-body {
    font-weight: bold;
}

.panel-title {
    font-weight: bold;
}

.cd-collapsable h3:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    cursor: pointer;
    float: right;
}

.cd-collapsed h3:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    cursor: pointer;
    float: right;
}

.graphite {
     width: 500px;
     height: 150px;
     font-size: 14px;
     line-height: 1.2em;
}
