<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>OSD Dashboard</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/ceph.dash.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="well">
      <h1>OSD Dashboard</h1>
    </div>

    <!--START CEPH OVERALL CLUSTER STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
	  Ceph OSD Overall Status
        </h3>
      </div>
      <!--here we add the overall status-->
      <div class="panel-body" id="overall_status"></div>
    </div>
    <!--END CEPH OVERALL CLUSTER STATUS-->


    <!--START CEPH OSD STATUS-->
    <div class="panel panel-primary">
      <div class="panel-heading cd-collapsable">
        <h3 class="panel-title">
          Ceph Cluster OSD Status
        </h3>
      </div>
      <div class="panel-body" align="center">

        <!--here we add warnings about nearfull / full osds-->
        <div id="osd_warning"></div>

        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-info">
              <div class="panel-heading">Total</div>
              <!--here we add the total number of osds-->
              <div class="panel-body" id="num_osds"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">In</div>
              <!--here we add the number of osds with IN state-->
              <div class="panel-body" id="num_in_osds"></div>
            </div>
          </div>  

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">Up</div>
              <!--here we add the number of osds with UP state-->
              <div class="panel-body" id="num_up_osds"></div>
            </div>
          </div>  

          <div class="col-md-3">
            <div class="panel panel-danger">
              <div class="panel-heading">Unhealthy</div>
              <!--here we count the osds with and unhealthy state-->
              <div class="panel-body" id="unhealthy_osds"></div>
            </div>
          </div>  
        </div>

      </div>
    </div>
    <!--END CEPH OSD STATUS-->

  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/globalize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dx.chartjs.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.time.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.byte.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.flot.tooltip.js') }}"></script>
  <script tppe="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ceph.osd.js') }}"></script>

</body>
</html>
