<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="30">
  <title>Ceph Dashboard</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="well">
      <h1>Ceph Dashboard</h1>
      <p><small>{{ data['fsid'] }}</small></p>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Cluster Overall Status</h3>
      </div>
      <div class="panel-body">

        {% if data['health']['overall_status'] == 'HEALTH_OK' %}
        <div class="alert alert-success">
          <strong><span class="glyphicon glyphicon-ok">&nbsp;</span>Cluster Status: {{ data['health']['overall_status'] }}</strong>
        </div>
        {% elif data['health']['overall_status'] == 'HEALTH_WARN' %}
        <div class="alert alert-warning">
          <strong><span class="glyphicon glyphicon-flash">&nbsp;</span>Cluster Status: {{ data['health']['overall_status'] }}</strong>
        </div>
        {% else %}
        <div class="alert alert-danger">
          <strong><span class="glyphicon glyphicon-remove">&nbsp;</span>Cluster Status: {{ data['health']['overall_status'] }}</strong>
        </div>
        {% endif %}

        <ul class="list-group">
          {% for item in data['health']['summary'] %}
          <li class="list-group-item active">
            <span class="glyphicon glyphicon-flash"></span>
            {{ item['summary'] }}
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Monitor Status</h3>
      </div>
      <div class="panel-body">
        <div class="row">

          {% for mon in data['health']['health']['health_services'][0]['mons'] %}
          <div class="col-md-4">
            <div class="alert alert-success">
              <strong><span class="glyphicon glyphicon-ok">&nbsp;</span>Monitor {{ mon['name']|upper }}: {{ mon['health'] }}</strong>
            </div>
          </div>  
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Cluster OSD Status</h3>
      </div>
      <div class="panel-body" align="center">

        {% if data['osdmap']['osdmap']['full'] == "true"%}
        <div class="alert alert-danger">
          <strong>
            <span class="glyphicon glyphicon-remove"></span>
            OSD FULL ERROR
            </strong>
        </div>
        {% elif data['osdmap']['osdmap']['nearfull'] == "true" %}
        <div class="alert alert-warning">
          <strong>
            <span class="glyphicon glyphicon-flash"></span>
            OSD NEARFULL WARNING
            </strong>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-info">
              <div class="panel-heading">Total</div>
              <div class="panel-body">{{ data['osdmap']['osdmap']['num_osds'] }}</div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">In</div>
              <div class="panel-body">{{ data['osdmap']['osdmap']['num_in_osds'] }}</div>
            </div>
          </div>  

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">Up</div>
              <div class="panel-body">{{ data['osdmap']['osdmap']['num_up_osds'] }}</div>
            </div>
          </div>  

          <div class="col-md-3">
            <div class="panel panel-danger">
              <div class="panel-heading">Unhealthy</div>
              <div class="panel-body">{{ data['osdmap']['osdmap']['num_osds'] - data['osdmap']['osdmap']['num_up_osds'] }}</div>
            </div>
          </div>  
        </div>

      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Cluster Placement Group Status</h3>
      </div>
      <div class="panel-body">

        {% for pgstate in data['pgmap']['pgs_by_state'] %}
        {% if pgstate['state_name'] == 'active+clean' %}
        <div class="alert alert-success">
          <strong>
            <span class="glyphicon glyphicon-ok"></span>
              {{ pgstate['count'] }} / {{ data['pgmap']['num_pgs'] }} {{ pgstate['state_name'] }}
            </strong>
        </div>
        {% elif 'active' in pgstate['state_name'] %}
        <div class="alert alert-warning">
          <strong>
            <span class="glyphicon glyphicon-flash"></span>
              {{ pgstate['count'] }} / {{ data['pgmap']['num_pgs'] }} {{ pgstate['state_name'] }}
            </strong>
        </div>
        {% else %}
        <div class="alert alert-danger">
          <strong>
            <span class="glyphicon glyphicon-remove"></span>
              {{ pgstate['count'] }} / {{ data['pgmap']['num_pgs'] }} {{ pgstate['state_name'] }}
            </strong>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row">
          <div class="col-md-4">
            <div id="ops_per_sec"></div>
          </div>
          <div class="col-md-4">
            <div id="wr_per_sec"></div>
          </div>
          <div class="col-md-4">
            <div id="rd_per_sec"></div>
          </div>
        </div>

        <div class="well well-sm" style="margin-top: 30px;">
          <strong><center>{{ (data['pgmap']['bytes_used'] / 1024 ** 4)|round }}TB / {{ (data['pgmap']['bytes_total'] / 1024 ** 4)|round }}TB ({{ ((data['pgmap']['bytes_used'] / data['pgmap']['bytes_total']) * 100)|round  }}%)</center></strong>
        </div>

        <div class="progress" style="margin-bottom: 9px;">
          <div class="progress-bar progress-bar-success" style="width: {{ ((data['pgmap']['bytes_used'] / data['pgmap']['bytes_total']) * 100)|int }}%">
        </div> 

      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/raphael.2.1.0.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/justgage.1.0.1.min.js') }}"></script>

  <script>
    var ops = new JustGage({ id: "ops_per_sec", value: {{ data['pgmap'].get('op_per_sec', 0) }}, min: 0, max: 1000, title: "Operations per Second" });
    var wr = new JustGage({ id: "wr_per_sec", value: {{ (data['pgmap'].get('write_bytes_sec', 0) / 1024 ** 2)|int }}, min: 0, max: 300, title: "Write MB per Second" });
    var rd = new JustGage({ id: "rd_per_sec", value: {{ (data['pgmap'].get('read_bytes_sec', 0) / 1024 ** 2)|int }}, min: 0, max: 300, title: "Read MB per Second" });
  </script>

</body>
</html>
