<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="refresh" content="30">-->
  <title>Ceph Dashboard</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.slate.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="well">
      <h1>Ceph Dashboard</h1>
      <p><small>{{ data['fsid'] }}</small></p>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Cluster Overall Status</h3>
      </div>
      <div class="panel-body">

        {% if data['health']['overall_status'] == 'HEALTH_OK' %}
        <div class="alert alert-success">
          <strong><span class="glyphicon glyphicon-ok">&nbsp;</span>Cluster Status: {{ data['health']['overall_status'] }}</strong>
        </div>
        {% elif data['health']['overall_status'] == 'HEALTH_WARN' %}
        <div class="alert alert-warning">
          <strong><span class="glyphicon glyphicon-flash">&nbsp;</span>Cluster Status: {{ data['health']['overall_status'] }}</strong>
        </div>
        {% else %}
        <div class="alert alert-danger">
          <strong><span class="glyphicon glyphicon-remove">&nbsp;</span>Cluster Status: {{ data['health']['overall_status'] }}</strong>
        </div>
        {% endif %}

        <ul class="list-group">
          {% for item in data['health']['summary'] %}
          <li class="list-group-item active">
            <span class="glyphicon glyphicon-flash"></span>
            {{ item['summary'] }}
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Monitor Status</h3>
      </div>
      <div class="panel-body">
        <div class="row">

          {% for mon in data['health']['health']['health_services'][0]['mons'] %}
          <div class="col-md-4">
            <div class="alert alert-success">
              <strong><span class="glyphicon glyphicon-ok">&nbsp;</span>Monitor {{ mon['name']|upper }}: {{ mon['health'] }}</strong>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Cluster OSD Status</h3>
      </div>
      <div class="panel-body" align="center">

        {% if data['osdmap']['osdmap']['full'] == "true"%}
        <div class="alert alert-danger">
          <strong>
            <span class="glyphicon glyphicon-remove"></span>
            OSD FULL ERROR
            </strong>
        </div>
        {% elif data['osdmap']['osdmap']['nearfull'] == "true" %}
        <div class="alert alert-warning">
          <strong>
            <span class="glyphicon glyphicon-flash"></span>
            OSD NEARFULL WARNING
            </strong>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-md-3">
            <div class="panel panel-info">
              <div class="panel-heading">Total</div>
              <div class="panel-body" id="num_osds"></div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">In</div>
              <div class="panel-body" id="num_in_osds"></div>
            </div>
          </div>  

          <div class="col-md-3">
            <div class="panel panel-success">
              <div class="panel-heading">Up</div>
              <div class="panel-body" id="num_up_osds"></div>
            </div>
          </div>  

          <div class="col-md-3">
            <div class="panel panel-danger">
              <div class="panel-heading">Unhealthy</div>
              <div class="panel-body" id="unhealthy_osds"></div>
            </div>
          </div>  
        </div>

      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Ceph Cluster Placement Group Status</h3>
      </div>
      <div class="panel-body">

        <div class="row">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Storage</div>
              <div class="panel-body" id="utilization" style="height:385px"></div>
              <div class="panel-footer">
                <strong>
                  <center id="utilization_info">
                  </center>
                </strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">Write / second</div>
              <div class="panel-body" align="center">
                <h1 id="write_bytes"></h1>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Read / second</div>
              <div class="panel-body" align="center">
                <h1 id="read_bytes"></h1>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">Operations / second</div>
              <div class="panel-body" align="center">
                <h1 id="operations_per_second"></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">PG Status</div>
              <div class="panel-body" id="pg_status" style="max-width:300px;height: 385px;"></div>
              <div class="panel-footer">
                <strong>
                  <center id="pg_status_info">
                  </center>
                </strong>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/globalize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dx.chartjs.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ceph.dash.js') }}"></script>

</body>
</html>
